html {
  background: url(Images/BackDrop/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "head head" "main main" "footer footer"; }

::-webkit-scrollbar {
  width: 14px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  background-color: #141414;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #b30000; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: head;
  overflow: hidden;
  text-shadow: 2px 2px 5px black;
  width: 99%;
  position: fixed;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  -moz-border-image: url(Pics/1.png) 11 0 37 0 stretch repeat;
  -webkit-border-image: url(Pics/1.png) 11 0 37 0 stretch repeat;
  -o-border-image: url(Pics/1.png) 11 0 37 0 stretch repeat;
  border-image: url(Pics/1.png) 11 0 37 0 stretch repeat; }

.header a {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px; }

.header a.logo {
  font-size: 40px;
  font-weight: 100; }

.header a:hover {
  color: #a02121; }

.header a.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: #a02121; }

.main {
  margin-top: 62px;
  height: 90%;
  padding-bottom: 50px;
  padding-left: 4vw;
  padding-right: 4vw;
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed; }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.preview {
  height: 270px;
  width: auto;
  margin: 5px;
  filter: drop-shadow(0 0 10px black);
  border: 3px solid transparent;
  transition: 0.3s ease; }

.preview:hover {
  opacity: 0.7;
  border: 3px solid #a02121;
  transition: 0.2s ease; }

.drawing {
  padding: 15px;
  height: 75vh;
  width: 75vh;
  filter: drop-shadow(0 0 10px black); }

.portrait {
  padding-top: 30px;
  height: 70vh; }

.text {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
  padding: 20px; }

h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  text-align: center;
  padding-right: 4vw;
  font-size: 64px; }

h2 {
  font-size: 32px;
  text-align: left; }

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  height: 70px;
  left: 0;
  bottom: -13px;
  margin: 0;
  position: fixed;
  background-image: linear-gradient(to top, black, transparent); }

.button {
  padding: 5px;
  height: 35px; }

.button:hover {
  opacity: 0.7;
  border: 3px solid #a02121;
  transition: 0.2s ease; }

.Btns {
  display: flex;
  flex-direction: row;
  transition: 0.08s ease; }

@media screen and (max-width: 1000px), (max-height: 600px) {
  .portrait {
    height: 60vh;
    width: 40vh;
    align-self: center; }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center; } }
@media screen and (max-width: 1000px) and (max-width: 600px), screen and (max-height: 600px) and (max-width: 600px), screen and (max-width: 1000px) and (max-height: 500px), (max-height: 600px) and (max-height: 500px) {
  .header a {
    font-size: 18px;
    line-height: 16px;
    border-radius: 4px; }

  .header a.logo {
    font-size: 24px; }

  .text {
    font-size: 18px; }

  h1 {
    font-size: 44px; }

  .preview {
    height: 180px; }

  .button {
    padding: 3px;
    height: 30px; }

  .footer {
    bottom: -20px; }

  .Btns {
    display: flex;
    flex-direction: column;
    padding-bottom: 130px;
    padding-left: 3px;
    transition: 0.08s ease; }

  .drawing {
    height: 50vh;
    width: 50vh;
    align-self: center; } }

/*# sourceMappingURL=RGR2.css.map */
